body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: monospace;
  color: #252525;
}

button,
input {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: #252525;
}

.app-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav-questions ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

.nav-questions li {
  cursor: pointer;
}

.nav-questions li.selected,
.nav-questions li:hover {
  border: 1px dashed #dad7d7;
  border-radius: 4px;
  background-color: aliceblue;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  border-radius: 100px;
  margin: 10px;
  width: 75%;
}

.dashboard-container {
  display: flex;
  justify-content: center;
}

.page-content {
  display: flex;
  justify-content: center;
  width: 70%;
}

.dashboard {
  border: 1px solid #dad7d7;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.question-container {
  width: 100%;
}

.question-author {
  border: 1px solid black;
  padding: 10px;
  vertical-align: center;
  background: aliceblue;
  border: 1px solid #dad7d7;
}

.question-avatar {
  width: 12%;
}

.question {
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  align-items: center;
}

.question-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.question-summary {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.question-preview-text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

button {
  border-radius: 4px;
}

.question-title {
  font-style: italic;
  font-weight: 600;
  font-size: 1.2em;
  margin-left: 10px;
}

.question-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 88%;
}

.question-vote {
  display: flex;
  justify-content: space-between;
}

.question-action {
  align-self: normal;
}

/* Hacky but less typing in the video */
.question-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.question-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.question-info > div > div {
  color: #969696;
  font-size: 15px;
}
.question-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}

.new-question-container {
  width: 100%;
}
.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-question-option {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 25px;
  width: 300px;
}

.new-question-submit-btn {
  margin: 20px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #c3392a;
}

.login-page {
  transform: translateY(30vh);
}

.login-container {
  display: flex;
  justify-content: center;
}

.login-form {
  position: absolute;
  width: 29%;
  min-height: 150px;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: space-evenly;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-mask-origin: border-box;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  border-radius: 4px;
  background-color: #9696962b;
}

.login-user {
  width: 75%;
}

.login-btn {
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  width: 75%;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
}

.leaderboard-summary {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.leaderboard-score {
  width: 40px;
  height: 40px;
  border-radius: 332px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #dad7d7;
}

.dashboard,
.leaderboard-container,
.new-question-container {
  border: 1px solid #dad7d7;
  border-radius: 3px;
}
